<!DOCTYPE html>
<html>
	<head>
		<title>pagina Cliente</title>
	</head>

	<body>
		<p><a href="/index"> Volta </a></p>
		<h1>Inclusão de pessoa</h1>
		<form action="/incluirPessoa">
			Nome:<br>
			<input type=text name=nome placeholder="Digite o nome"> <br>
			Endereço: <br>
			<input  type="text" name=endereco placeholder="Digite o enderço"> <br>
			Telefone : <br>
			<input type=text name=telefone placeholder="digite o telefone"><br>
			Email : <br>
			<input type=text name=email placeholder="Digite o email"><br>
			<br>
			<input type=submit value= Incluir >
		</form>
	</body>
</html>