<!DOCTYPE html>
<html>
	<head>
		<title>pagina Produto</title>
	</head>

	<body>
		<p><a href="/index"> Inicio </a></p>
		<h1>Cadastro de Livros </h1>
		NOME: <br>
		<input type="text" name="NOME" placeholder="Digite o nome do Livro"><br>
		CODIGO <br>
		<input type="text" name="CODIGO" placeholder="Digite o Codigo"><br>
		ESCRITOR <br>
		<input type="text" name="ESCRITOR" placeholder="Digite o nome do Escritora"> <br>
		EDITORA<br>
		<input type="text" name="EDITORA" placeholder="Digite a Editora"><br>
		<br><input type="submit" value="enviar"><br>
	</body>
</html>